header{
height:427px;
background-image:url(img/0.jpg);	
background-repeat:no-repeat;
background-position:top right;
background-color:black;
margin-bottom:10px;
}
body{
background-color:#6F8090;
padding-bottom:10px;
}
.privet{
padding-top:10px;
color:blue;
font-size:20px;
float:right;
width:40%;
}
.sidebar{
font-size:16px;
width:30%;
float:left;
background-color:#101018;	
border:2px solid #6F8090;
border-radius:15px;
margin-right:10px;
padding:10px 0px;
}	
.content{
font-size:14px;
text-align:justify;
}
a{
color:blue;	
}
.str{
color:red;
padding:10px;
background-color:#6F8090;
}
.foto{
margin:10px 0px;
width:80%;
}
.ahref{
padding:10px;
}
.ahref:hover{
background-color:blue;
color:red;
}
.content5{
width:100%;
font-size:14px;
float:left;
}
.fotovir{
margin:10px 0px;
height:100%;
}
